- if @daily_menu 
  %h4 Daily menu for today
  #daily_menu.thumbnail.row
    - if @daily_menu.courses.exists?
      - @daily_menu.courses.each do |course|
        .col-md-3
          .thumbnail 
            = image_tag course.image.url(:thumb)
            .caption
              %strong
                Name:  
              = course.name
              %br/
              %strong
                Type:
              = course.course_type 
    - else 
      Nothing          
  %h4 Choose items for today menu
  .row
    - @courses.each do |course|
      .col-md-4
        .thumbnail
          = render partial: "course_item", locals: {course: course}
- else
  = form_tag admin_daily_menus_path, method: :post do
    .form-actions
    = button_tag "Create todays menu", class: "btn btn-lg btn-primary btn-block" 
