.col-md-3.col-xs-4.sidebar
  #order-form.thumbnail
    = simple_form_for @order, url: :orders, method: :post, html: {class: "form"} do |f|
      .form-inputs
      %h4 Order items
      = f.error_notification
      %label First course
      = text_field_tag "first_course", nil, { placeholder: "First course", 
                                              class: "form-control form-field",
                                              disabled: true,
                                              readonly: true }
      = hidden_field_tag "first_course_id", 0, class: "hidden_field"
      = hidden_field_tag "first_course_price", 0, readonly: true, class: "hidden_field"                      
      %label Main course
      = text_field_tag "main_course", nil, { placeholder: "Main course", 
                                              class: "form-control form-field", 
                                              disabled: true,
                                              readonly: true }
      = hidden_field_tag "main_course_id", 0, class: "hidden_field"
      = hidden_field_tag "main_course_price", 0, readonly: true, class: "hidden_field"
      %label Drink
      = text_field_tag "drink", nil, { placeholder: "Drink",
                                              class: "form-control form-field", 
                                              disabled: true,
                                              readonly: true }
      = hidden_field_tag "drink_id", 0, class: "hidden_field"
      = hidden_field_tag "drink_price", 0, readonly: true, class: "hidden_field"
      .form-actions
      %p
        %strong
          Total price:
        %span#total_price
        = f.button :submit, "Submit", id: "orderSubmit", class: "btn btn-lg btn-primary btn-block"