= simple_form_for @course, url: :admin_course, method: :patch,  html: {multipart: true, class: "form"} do |f|
  %h2 Edit course
  .thumbnail
    = image_tag @course.image.url
  .form-inputs
    = f.error_notification
    = f.text_field :name, 
                    required: true, 
                    autofocus: true, 
                    class: "form-control form-field", 
                    placeholder: "Name" 
    = f.number_field :price, as: :decimal,
                    required: true, 
                    autofocus: true, 
                    class: "form-control form-field",
                    placeholder: "Price" 
    %label Course type
    = select "course", 
             "course_type", 
             @course.course_types, 
             { include_blank: false }, 
             class: "form-control form-field"
  .form-actions
    = f.button :submit, "Submit", class: "btn btn-lg btn-primary btn-block" 