%h3 
  Courses 
  = link_to 'Add course', new_admin_course_path, {:class => 'btn btn-lg btn-link'}
- @courses.each do |course|
  .col-md-4
    .thumbnail
      = image_tag course.image.url 
      .caption
        %p
          %strong 
            Name:
          = course.name
          %br/ 
          %strong 
            Price:
          = course.price
          %br/ 
          %strong 
            Type:
          = course.course_type  
        = link_to "Delete", delete_course_path(id: course.id), method: :delete


