= simple_form_for @course, url: :create_course, method: :post,  html: {multipart: true, class: "form"} do |f|
  %h2 New course
  .form-inputs
    = f.error_notification
    = f.text_field :name, 
                    required: true, 
                    autofocus: true, 
                    class: "form-control form-field", 
                    placeholder: "Name" 
    = f.number_field :price, as: :decimal,
                    required: true, 
                    autofocus: true, 
                    class: "form-control form-field",
                    placeholder: "Price" 
    %label Choose course type
    = select "course", 
             "course_type", 
             @course.course_types, 
             { include_blank: false }, 
             class: "form-control form-field"
    = f.input :image, as: :file
  .form-actions
    = f.button :submit, "Add course", class: "btn btn-lg btn-primary btn-block" 
