!!!
%html
  %head
    %title LaunchOrder
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/navbar'
    .container
      = render 'shared/notice'
      .row
        .col-sm-9
          %h1 Admin panel
          #content.container.col-sm-12
            = yield
        = render 'admin/shared/sidebar'   