!!!
%html
  %head
    %title LaunchOrder
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/navbar'
    .container
      #flash_area.flash_area
        = render 'shared/notice'
      .col-md-12 
        %h2 Launch Order  
      = yield
